/* dotnetfringe.css */

body {
  text-align: center;
  background-color: hsla(230, 40%, 50%, 1);
}
h1.logo {
  position: relative;
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 12em;
  text-shadow: .03em .03em 0 hsla(230, 40%, 50%, 1);
  margin-top: .5em;
  margin-bottom: 1em;
  font-weight: bold;
  letter-spacing: normal;
}
h1.logo:after {
  content: attr(data-shadow);
  position: absolute;
  top: 1em;
  left: 2em;
  z-index: -1;
  text-shadow: none;
  background-image: linear-gradient( 45deg, transparent 45%, hsla(48, 20%, 90%, 1) 45%, hsla(48, 20%, 90%, 1) 55%, transparent 0);
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shad-anim 15s linear infinite;
}
h2.logo {
  font-weight: bold;
}
@keyframes shad-anim {
  0% {
    background-position: 0 0
  }
  0% {
    background-position: 100% -100%
  }
}
h2.logo {
  color: #ddd;
  font-family: 'Righteous', serif;
  font-size: 3em;
  margin: 1em 0;
}
h2.logo span {
  border: solid 1px #333;
  padding: .5em 1em;
}
h2.logo a {
  text-decoration: none;
  color: #ddd;
}

.fullwidth {
  max-width: none;
}

.logo-container {
  padding-bottom: 4em;
}

.content-container {
  background: white;
  padding-top: 1em;
  padding-bottom: 2em;
}

.content-container .row {
  margin-bottom: 4em;
}

.mailinglist input {
  vertical-align: text-top;
}

.mailinglist input[type=text] {
  width: 66%;
}

.footer-container {
  background-color: hsla(230, 40%, 50%, 1);
  color: white;
  min-height: 4em;
}

.footer-container .column {
  line-height: 4em;
}

.footer-container a {
  color: #b1c4ca;
}

.dnf-menu h3 a {

}

.row .image-grid {
  margin-bottom: 0;
}

.image-grid .image-container {
  height: 300px;
  white-space: nowrap;
  text-align: center;
  margin: 1em 0;
}


.image-grid .image-container-inner {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.image-grid img {
  max-height: 300px;
  max-width: 100%;
  vertical-align: middle;
}

.image-grid .image-container .two-up {
  height: 300px;
}

.image-grid .two-up img {
  max-height: 300px;
}

.image-grid .four-up .image-container {
  height: 200px;
}

.image-grid .four-up img {
  max-height: 200px;
}

.dnf-menu h3 a:hover {
  cursor: pointer;
  border-bottom: solid 4px hsla(230, 40%, 50%, 1);
}

.mapoverlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 300px;
  top: 300px;
  margin-top: -300px;
}

@media only screen and (min-width: 900px) {
  h1.logo { font-size: 12em; }
  h2.logo { font-size: 3em; margin: 1em 0; }
}
@media only screen and (max-width: 899px) {
  h1.logo { font-size: 10em; }
  h2.logo { font-size: 2.5em; margin: 1.5em 0; }
}
@media only screen and (max-width: 750px) {
  h1.logo { font-size: 8em; }
  h2.logo { font-size: 2em; margin: 1.5em 0; }
}
@media only screen and (max-width: 600px) {
  h1.logo { font-size: 6em; }
  h2.logo { font-size: 1.5em; margin: 2em 0; }
  .mailinglist input[type=text] { width: 100%; }
}
@media only screen and (max-width: 450px) {
  h1.logo { font-size: 4em; }
  h2.logo { font-size: 1em; margin: 2em 0; }
  .mailinglist input[type=text] { width: 100%; }
}

