/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: 'Lato', sans-serif;
    font-size: 100%;
    background-color: #FFF;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.header{
	background:url(../images/bg.png);
	min-height:819px;
}
.logo{
	text-align: center;
	padding: 2em 0 8em;
}
/**** Slider *****/
.slider_container{
	width:100%;
	margin:0 auto;
}
.banner-wrap {
	width: 70%;
	margin: 0 auto;
}
/**** Slider *****/
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider.example1 {
	height:402px !important
}
.wmuSlider .wmuSliderWrapper article {
	text-align: center;
}
.wmuSlider .wmuSliderWrapper article img {
	max-width: 100%;
	width: auto;
	height: auto;
	display:block;
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	left: 48em;
	bottom:1em;
	padding: 0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 6px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
	text-indent: -9999px;
	width: 13px;
	height: 13px;
	background:none;
	border: 1px solid #787575;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-o-border-radius: 1em;
}
.wmuSliderPagination a.wmuActive {
	background:#ffb500;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width: 70px;
	height: 70px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png)no-repeat;
	top:5%;
	z-index: 2;
	cursor: pointer;
}
.wmuSliderPrev {
	background-position: -13px -8px;
	left: 0px;
}
.wmuSliderNext {
	background-position:-83px -8px;
	right: 0px;
}
.slider-left h1{
	font-size: 4em;
	color: #FFF;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
}
p.top_desc{
	color: #EDF6FF;
	font-size: 1.8em;
	line-height:0em;
	text-transform:uppercase;
	margin-bottom: 20px;
	font-weight: 300;
}
p.bottom_desc{
	color: #EDF6FF;
	font-size:0.95em;
	font-style:italic;
	text-transform:uppercase;
	margin-bottom: 20px;
	font-weight: 300;
	margin-top:3em;
}
.header_btn{
	text-align:center;
	padding-top: 5em;
}
.btn2{
	text-align:center;
}
.btn2 span {
	width:220px;
	height:70px;
	display: inline-block;
	background: url(../images/btn.png) no-repeat 0px 0px;
	font-size:1em;
	font-weight:500;
	line-height:4em;
	color: #ffb500;
	text-transform: uppercase;
	font-weight: 600;
}
.btn2 span:hover{
	color:#fff;
}
.navbar-custom {
	background: #ffb500;
}
.subMenu {
	position: absolute;
	z-index: 1000;
	width: 100%;
}
.navbar-nav>li>a {
	text-transform: uppercase;
	color: #000;
	font-size: 1em;
	line-height:52px;
}
.right-msg span{
	width: 216px;
	height: 80px;
	display: inline-block;
	background: url(../images/logo_small.png) no-repeat 0px 5px;
	vertical-align: middle;
}
.navbar-nav li.active a, .navbar-nav li.hover a{
	color: #ffb500;
	background:#35353f;
}
.right-msg{
	float:right;
}
.col_1_of_4:first-child {
	margin-left: 0;
}
.span_1_of_4 {
	width:25%;
}
.col_1_of_4 {
	display: block;
	float: left;
}
.portfolio{
	border-top:4px solid #35353f;
}
/* Self Clearing Goodness */
/*	Strip
/*-----------------------------------------------------------------------------------*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
	width: 100%;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(75, 202, 255, 0.85);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
.b-link-stripe .b-line2{
	left:20%;
	transition-delay:0.1s !important;
	-moz-transition-delay:0.1s !important;
	-ms-transition-delay:0.1s !important;
	-o-transition-delay:0.1s !important;
	-webkit-transition-delay:0.1s !important;
}
.b-link-stripe .b-line3{
	left:40%;
	transition-delay:0.2s !important;
	-moz-transition-delay:0.2s !important;
	-ms-transition-delay:0.2s !important;
	-o-transition-delay:0.2s !important;
	-webkit-transition-delay:0.2s !important;
}
.b-link-stripe .b-line4{
	left:60%;
	transition-delay:0.3s !important;
	-moz-transition-delay:0.3s !important;
	-ms-transition-delay:0.3s !important;
	-o-transition-delay:0.3s !important;
	-webkit-transition-delay:0.3s !important;
}
.b-link-stripe .b-line5{
	left:80%;
	transition-delay:0.4s !important;
	-moz-transition-delay:0.4s !important;
	-ms-transition-delay:0.4s !important;
	-o-transition-delay:0.4s !important;
	-webkit-transition-delay:0.4s !important;
}
.b-link-stripe:hover .b-line{
	opacity:1;
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
	font-weight:700;
}
.b-animate img{
	margin-top: 4%;
	display: -webkit-inline-box;
}
.b-animate span{
	display:block;
	font-size:1em;
	text-transform: uppercase;
	padding-top:1.3em;
	display: block;
	font-weight: 500;
}
.b-animate button{
	background: #FFB500;
	padding: 1.1em 2.4em;
	color: #35353F;
	text-transform: uppercase;
	font-size: 0.875em;
	border: none;
	border-radius: 0.5em;
	margin: 0.8em auto;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	outline: none;
	font-weight: 700;
}
.b-animate button:hover{
	background:#3B3B43;
	color:#fff;
}
.b-animate label{
	display:block;
	font-size:0.875em;
	margin-top:0.5em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
.b-animate label:hover{
	color:#FFB500;
	cursor:pointer;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position: relative;
	left: -100%;
	background:#45454d;
	background-size: 100% 100%;
	top: 0px;
	margin: 0;
	min-height:312px;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
i.heart{
	width: 20px;
	height: 22px;
	background: url(../images/hand.png)0px 2px;
	display: inline-block;
	margin-right: 3px;
}
i.heart:hover{
	background: url(../images/hand-hover.png)0px 2px;
}
.portfolio_bottom{
	background:#35353f;
	text-align: center;
	padding:3em 0;
}
.btn3 span {
	padding: 0.8em 2.5em;
	display: inline-block;
	border: 2px solid #FFF;
	font-size: 1em;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-o-border-radius: 0.5em;
}
.btn3 span:hover{
	color:#ffb500;
	background:#fff;
}
.services{
	background:#ffb500;
	padding:5em 0;
}
i.icon1{
	width: 145px;
	height: 145px;
	background: url(../images/img-sprite.png)-173px -7px;
	display: inline-block;
}
i.icon2{
	width: 145px;
	height: 145px;
	background: url(../images/img-sprite.png)-337px -7px;
	display: inline-block;
}
i.icon3{
	width: 145px;
	height: 145px;
	background: url(../images/img-sprite.png)-172px -158px;
	display: inline-block;
}
i.icon4{
	width: 145px;
	height: 145px;
	background: url(../images/img-sprite.png)-336px -155px;
	display: inline-block;
}
h3.m_1{
	margin:1em 0 0.5em;
}
h3.m_1 a{
	color:#1e1e24;
	font-size:0.7em;
	text-transform:uppercase;
	text-decoration:none;
}
h3.m_1 a:hover{
	color:#555;
}
p.m_2{
	font-size:0.8125em;
	line-height:1.8em;
	color: #1E1E24;
}
.photograph {
	background: url(../images/contact.png);
	padding:8em 0;
	text-align:center;
}
h2.service_head{
	color: #373742;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 2em;
}
.signup{
	padding:4em 0;
	background: url(../images/signup.png);
	background-size:100% 100%;
	border-top:4px solid #ffb500;
	text-align:center;
}
h3.m_3{
	color: #FFF;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 1em;
}
.contact-form input[type="text"] {
	display: block;
	width: 29%;
	padding: 0.6em;
	border: none;
	outline: none;
	margin: 0.2em;
	font-size: 1em;
	color: #FFF;
	background:#595A5D;
	border:2px solid #595A5D;
	float: left;
	border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.contact-form input[type="text"]:hover {
	border:2px solid #ffb500;
}
.contact-form input[type="submit"] {
	background: #FEB400;
	background: -moz-linear-gradient(top, rgba(254,180,0,1) 0%, rgba(225,156,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEB400), color-stop(100%,#E19C00));
	background: -webkit-linear-gradient(top, #FEB400 0%,#E19C00 100%);
	background: -o-linear-gradient(top, rgba(254,180,0,1) 0%,rgba(225,156,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,180,0,1) 0%,rgba(225,156,0,1) 100%);
	background: linear-gradient(to bottom, #FEB400 0%,#E19C00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb400', endColorstr='#e19c00',GradientType=0 );
	padding: 0.7em 2em;
	display: inline-block;
	color: #1E1E24;
	font-size: 1em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	line-height: 1.3em;
	margin-top: 0.3em;
}
.contact-form input[type="submit"]:hover{
	color:#fff;
}
/*--about--*/
.about{
	padding:5em 0;
	background:#fcb200;
}
.about-grid img {
	border-radius: 10em;
	border:3px solid #fcd500;
	display: -webkit-inline-box;
}
.about-grid h3{
	padding:2em 0 1em;
}
.about-grid h3 a{
	color:#35353f;
	font-style:italic;
	font-size:0.85em;
	text-decoration:none;
}
.about-grid h3 a:hover{
	color:#555;
}
.about-grid p{
	color:#35353f;
	font-size:0.85em;
	line-height:1.5em;
}
/*--contact-*/
.contact{
	background: url(../images/contact.png);
	padding:5em 0 2em;
}
.contact_left h3{
	color:#fff;
	font-size:2em;
	text-transform:uppercase;
	font-weight:bold;
}
h3.m_4{
	color: #373742;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	margin-bottom:1em;
}
p.m_5{
	color: #373742;
	text-align: center;
	font-size: 1em;
	margin-bottom: 3em;
	font-weight: 400;
}
p.m_6{
	color: #FFF;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 300;
	padding:1.5em 0;
}
p.m_7{
	color: #FFF;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 300;
	margin-bottom:1.5em;
}
ul.contact_info {
	padding: 0;
	list-style: none;
	margin: 0;
}
ul.contact_info li{
	margin-bottom:2em;
}
i.pin{
	height: 50px;
	width: 40px;
	float: left;
	background: url(../images/img-sprite.png)no-repeat -11px -122px;
	margin-right: 2%;
}
i.mobile{
	height: 50px;
	width: 40px;
	float: left;
	background: url(../images/img-sprite.png)no-repeat -60px -123px;
	margin-right: 2%;
}
i.message{
	height: 34px;
	width: 40px;
	float: left;
	background: url(../images/img-sprite.png)no-repeat -111px -123px;
	margin-right: 2%;
}
ul.contact_info span {
	color: #FFF;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5em;
}
ul.contact_info span.msg {
	cursor: pointer;
	line-height: 2em;
}
ul.contact_info span.msg:hover{
	text-decoration:underline;
}
.contact_right{
	background:#fcb200;
	padding:2em;
}
.contact-form_grid {
	text-align: center;
}
.contact-form_grid input[type="text"] {
	display: block;
	width: 99%;
	padding: 0.6em;
	outline: none;
	margin: 0.2em;
	font-size: 0.85em;
	color: #D6D5D5;
	background: #FFF;
	border: none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	text-align: center;
	margin: 1em 0;
}
.contact-form_grid textarea {
	display: block;
	height:170px;
	width: 99%;
	padding: 15px;
	margin: 1em 0;
	border: none;
	outline: none;
	color:#D6D5D5;
	font-size:1em;
	background: #F9F8F8;
	text-align: center;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	resize:none;
}
.contact-form_grid input[type="submit"] {
	background: #414042;
	padding: 0.8em 5em;
	display: inline-block;
	color: #FCB200;
	font-weight: bold;
	font-size: 1em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	line-height: 1.3em;
	margin-top: 0.3em;
	text-align: center;
}
.contact-form_grid input[type="submit"]:hover {
	color:#fff;
}
.footer{
	background:#35353f;
	padding:2em 0;
}
.copy{
	float:left;
	margin-top: 13px;
}
.copy p{
	color:#fff;
}
.copy p a{
	color:#FCB200;
}
.social {
	float: right;
	margin-top: 5px;
}
.social ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
.social li {
	background: none;
	display: inline-block;
}
li.facebook a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -14px -296px;
}
li.facebook a span:hover {
	background: url(../images/img-sprite.png)no-repeat -11px -341px;
}
li.twitter a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -64px -296px;
}
li.twitter a span:hover {
	background: url(../images/img-sprite.png)no-repeat -64px -341px;
}
li.rss a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -114px -296px;
}
li.rss a span:hover {
	background: url(../images/img-sprite.png)no-repeat -117px -341px;
}
li.google a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -175px -313px;
}
li.google a span:hover {
	background: url(../images/img-sprite.png)no-repeat -173px -358px;
}
/*--responsive design--*/
@media(max-width:1366px){
.banner-wrap {
	width: 85%;
}
.wmuSliderPagination {
	left: 40.5em;
}
.b-animate span {
	padding-top: 0.3em;
}
.b-animate label {
	margin-top: -2px;
}
}
@media(max-width:1280px){
.banner-wrap {
	width: 88%;
}
.wmuSliderPagination {
	left: 38em;
}
}
@media(max-width:1024px){
.slider-left h1 {
	font-size: 3em;
}
p.top_desc {
	font-size: 1.3em;
}
.wmuSliderPagination {
	left: 30em;
}
.b-animate span {
	font-size: 0.85em;
}
.b-animate img {
	margin-top: 1%;
}
.b-animate button {
	padding: 0.8em 2em;
	font-size: 0.8125em;
}
}
@media(max-width:800px){
.slider-left h1 {
	font-size: 2em;
}
p.top_desc {
	font-size: 1em;
}
.navbar-nav>li>a {
	font-size: 0.8125em;
	line-height:52px;
	padding: 10px;
}
.wmuSliderPagination {
	left: 23em;
}
.photograph {
	padding: 4em 0;
}
h3.m_3 {
	font-size: 2em;
}
.contact-form input[type="text"] {
	width: 26%;
}
}
/*----Start-mediaquries-for-640px-----*/
@media(max-width:640px){
.logo {
	padding:5em 0 3em;
}
.header {
 	min-height:500px;
}
.subMenu {
	top:0px !important;
	padding:5px 0;
}
p.bottom_desc {
	font-size: 0.8125em;
	margin-bottom:0px;
	margin-top: 2em;
}
.header_btn {
	padding-top: 3em;
}
.wmuSlider.example1 {
	height:270px !important;
}
.wmuSliderPagination {
	bottom:1em;
	left: 18em;
}
.slider-left h1 {
	font-size: 1.7em;
}
p.top_desc {
	font-size: 0.8125em;
}
.right-msg span {
	background: url(../images/logo_small.png) no-repeat 0px -5px;
}
.contact-form input[type="text"] {
	width: 25%;
}
.navbar-nav>li>a {
	font-size: 0.8125em;
	line-height: 10px;
	padding: 10px;
}
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
	text-align: center;
}
.msg-icon{
    position: absolute;
	top: 5px;
}
}
@media(max-width:480px){
.logo img{
	width:25%;
}
.slider-left h1 {
	font-size: 1.1em;
}
p.top_desc {
	display: none;
}
.logo {
	padding: 5em 0 2em;
}
p.bottom_desc {
	margin-top: 1em;
}
.btn2 span {
	width: 175px;
	height: 60px;
	font-size: 0.85em;
	line-height: 3.7em;
	background-size: 100%;
}
.header_btn {
	padding-top: 1em;
}
.header {
	min-height: 420px;
}
.wmuSlider.example1 {
	height: 180px !important;
}
.wmuSliderPagination {
	left: 13em;
}
.wmuSliderPrev, .wmuSliderNext {
	top: -3%;
}
.span_1_of_4 {
	width: 50%;
}
.b-animate img {
	width:30%;
}
.b-animate span {
	font-size: 12px;
}
.b-animate button {
	padding: 0.9em 2em;
	font-size: 12px;
}
h2.service_head {
	font-size: 1.5em;
	margin-bottom: 1em;
}
h3.m_3, h3.m_4, .contact_left h3{
	font-size: 1.5em;
}
.contact-form input[type="text"] {
	width: 22%;
}
.about-grid h3 {
	padding: 1em 0 0.5em;
}
}
@media(max-width:320px){
.right-msg span {
	background: url(../images/logo_small.png) no-repeat 0px 5px;
	background-size: 70%;
}
.slider-left h1 {
	font-size: 0.85em;
}
.btn2 span {
	width: 150px;
	height: 60px;
	font-size: 12px;
	background-size: 97%;
}
.header {
	min-height: 370px;
}
.wmuSliderPagination {
	left: 8em;
}
.btn3 span {
	padding: 0.6em 1.5em;
	font-size: 0.85em;
}
.portfolio_bottom {
	padding: 2em 0;
}
.contact-form input[type="text"] {
	width: 98%;
}
.b-animate button {
	padding: 0.6em 1em;
}
h3.m_3, h3.m_4, .contact_left h3 {
	font-size: 1.2em;	
}
.copy {
	float: none;
}
.social {
	float: none;
	margin-top: 1em;
}
.photograph {
	padding: 2em 0;
}
}