    <footer>
      <div class="container">
        <div class="copy">
          <p>&copy; .NET Fringe 2017 - <a href="{{ site.url }}/docs/code-of-conduct">Code Of Conduct</a> - <a href="{{ site.url }}/docs/archives">Previous Years</a></li> | Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
        </div>
        <div class="social">
          <ul>
            <li class="github"><a href="https://github.com/dotnetfringe"><span> </span></a></li>
            <li class="twitter"><a href="https://twitter.com/dotnetfringe"><span> </span></a></li>
            <li class="google"><a href="https://www.youtube.com/channel/UCIz73jo7KPqVTssbUmiIfXg"><span> </span></a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </footer>