    <meta name="description" content=".NET/FRINGE/ - An atypical conference for open-source .NET developers. June 4 - 6, 2017, Portland, OR">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dotnetfringe">
    <meta name="twitter:creator" content="@dotnetfringe">
    <meta name="twitter:title" content=".NET/FRINGE/ - An atypical conference for open-source .NET developers.">
    <meta name="twitter:description" content=".NET/FRINGE/ - An atypical conference for open-source .NET developers. June 4 - 6, 2017, Portland, OR">
    <meta name="twitter:image" content="">
