    <nav id="topnav" class="navbar-custom navbar-scroll-top" role="navigation">
      <div class="container">
        <div class="navbar-header" id="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-main-collapse">
          <img src="/images/nav-icon.png" title="drop-down-menu">
          </button>
        </div>
        <div class="navbar-collapse navbar-left navbar-main-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/index.html#signup">Sign Up</a></li>
            <li><a href="/index.html#tickets">Tickets</a></li>
            <li><a href="/index.html#cfp">Call For Proposals</a></li>
            <!--<li><a href="i/ndex.html#photos">Photos</a></li>
            <li><a href="/index.html#map">Venue</a></li>
            <li><a href="/docs/index.html">Docs</a></li>-->
            <!-- <li><a href="#speakers">Speakers</a></li> -->
          </ul>
        </div>
      </div>
    </nav>