/* For all general content styling */


ul li {
  font-size: 1.1rem;
  line-height: 1.25rem;
  margin-bottom: .75rem;
  color: white;
}

 h1 {
  font-size: 2.5rem;
  line-height: 2.7rem;
}
 h2 {
  font-size: 2rem;
  line-height: 2.2rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.6rem;
}
 a {
  color: #FCB200;
}
p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}