// override bootstrap specificity 
.nav>li>a:focus, .nav>li>a:hover {
    background-color: $nav-hover-background;
}

.navbar-custom {
    background-color: $nav-background;
    border-bottom: 2px solid $nav-border-color;

    li {
        margin: 0 auto;
        a {
            color: $nav-link-color;
            font-weight: $font-bold;
            text-decoration: none;
            transition: background-color $transition-speed $transition-bez;

            &:hover {
                color: $nav-link-hover-color;
            }
        }

        &.active a {
            color: $nav-current-color;
            background-color: $nav-current-background;
        }
    }
}