*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
html, body {
    min-height: 100%;
}

body.splash {
    text-align: center;
    background-color: hsla(230, 40%, 50%, 1);
}

.splash {
    h1 {
        text-transform: lowercase;
        display: inline-block;
        color: white;
        font-family: 'Righteous', serif;
        font-size: 12em;
        text-shadow: .03em .03em 0 hsla(230, 40%, 50%, 1);
        margin-top: .5em;
        margin-bottom: 1em;
    }
    h1:after {
        content: attr(data-shadow);
        position: absolute;
        top: 1em;
        right: 0;
        z-index: 1;
        text-shadow: none;
        background-image: linear-gradient( 45deg, transparent 45%, hsla(48, 20%, 90%, 1) 45%, hsla(48, 20%, 90%, 1) 55%, transparent 0);
        background-size: .05em .05em;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shad-anim 15s linear infinite;
    }
    @keyframes shad-anim {
        0% {
            background-position: 0 0
        }
        0% {
            background-position: 100% -100%
        }
    }
    hr {
        width: 50%;
        margin: 0 auto;
        color: #666;
    }
    h2 {
        color: #ddd;
        margin: 0 auto;
        font-family: 'Righteous', serif;
        font-size: 3em;
        margin: 1em 0;
    }
    h2 span {
        border: solid 1px #333;
        padding: .5em 1em;
    }
    h2 a {
        text-decoration: none;
        color: #ddd;
    }

    @media only screen and (min-width: 900px) {
        h1 { font-size: 12em; }
        h2 { font-size: 3em; margin: 1em 0; }
    }
    @media only screen and (max-width: 899px) {
        h1 { font-size: 10em; }
        h2 { font-size: 2.5em; margin: 1.5em 0; }
    }
    @media only screen and (max-width: 750px) {
        h1 { font-size: 8em; }
        h2 { font-size: 2em; margin: 1.5em 0; }
    }
    @media only screen and (max-width: 600px) {
        h1 { font-size: 6em; }
        h2 { font-size: 1.5em; margin: 2em 0; }
    }
    @media only screen and (max-width: 450px) {
        h1 { font-size: 4em; }
        h2 { font-size: 1em; margin: 2em 0; }
    }    
}

