/* Colors, for use here only */
$richBlue: #4d5eb3;
$richBlue--darker: #3a4787;
$richBlue--lighter: #8e98ce;
$darkGray: #333333;

/* General */
$color-body: $darkGray;
$color-link: $richBlue--lighter;
$color-link--hover: $richBlue;
$color-content: #ffffff;

/* Font */
$font-normal: 300;
$font-bold: 700;
$font-extra-bold: 900;

/* Animation */
$transition-speed: 300ms;
$transition-bez: cubic-bezier(0.165, 0.84, 0.44, 1);

/* Nav */
$nav-background: $richBlue--darker;
$nav-active-background: $richBlue;